<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ArrowheadProfile -->
      <package
            uri="http://www.eclipse.org/papyrus/arrowhead"
            class="ArrowheadDSL.ArrowheadDSLPackage"
            genModel="resources/ArrowheadProfile.genmodel"/>
   </extension>
   
   
   
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://Arrowhead_Profile/"
            target="platform:/plugin/ArrowheadProfile/resources/">
      </mapping>
   </extension>
   
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="UML profile for Arrowhead"
            iconpath="icons/arrowhead_icon.png"
            name="Arrowhead"
            path="pathmap://Arrowhead_Profile/ArrowheadProfile_v5.0.profile.uml"
            provider="CEA LIST">
      </profile>
   </extension>

   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Arrowhead_Profile/ArrowheadProfile_v5.0.profile.uml#_sX4gkDIREe6ldMRwfXEyUg"
            uri="http://www.eclipse.org/papyrus/arrowhead">
      </profile>
   </extension>

</plugin>
