* {
	maskLabel: name;
	elementIcon: false;
	
}

/*Block > Compartment[kind=operations]{
	visible: true;
	showTitle: true;
	
}*/
Property > Compartment[kind="internalstructure"]{
    visible:true;
}

Class [appliedStereotypes~="ArrowheadDSL::SysDD"] > Compartment[kind=attributes],
Class [appliedStereotypes~="ArrowheadDSL::SysDD"] > Compartment[kind=operations],
Class [appliedStereotypes~="ArrowheadDSL::SysDD"] > Compartment[type=StereotypeCompartment]{
	visible: true;
	showTitle: true;
}


Class[appliedStereotypes~="ArrowheadDSL::System_Implementation"]{
	fillColor: #ff8000;
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
	}
	Class[appliedStereotypes~="ArrowheadDSL::LocalcloudImplementation"]{
	fillColor: #ff8000;
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
	}
	
Class[appliedStereotypes~="ArrowheadDSL::SysDD"]{
	fillColor: #808080; 
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}
Class[appliedStereotypes~="ArrowheadDSL::System_of_LocalcloudsDesign"]{
	fillColor: #808080; 
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}
Class[appliedStereotypes~="ArrowheadDSL::DeviceDesign"]{
	fillColor: #808080; 
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}

Class[appliedStereotypes~="ArrowheadDSL::LocalCloudDesign"]{
	fillColor: #808080; 
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}

Class[appliedStereotypes~="ArrowheadDSL::IntracloudNetworkDesign"]{
	fillColor: #808080; 
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}
Class[appliedStereotypes~="ArrowheadDSL::IntercloudNetworkDesign"]{
	fillColor: #808080; 
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}
Class[appliedStereotypes~="ArrowheadDSL::IDD_Implementation"]{
	fillColor: #808080; 
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}

Class[appliedStereotypes~="ArrowheadDSL::System_of_LocalcloudsImplementation"]{
	fillColor: #808080; 
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}
Class[appliedStereotypes~="ArrowheadDSL::IDD"]{
	fillColor: #808080; 
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}
Class[appliedStereotypes~="ArrowheadDSL::System_of_LocacloudsDesignDescription"]{
	fillColor: #808080; 
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}
Class[appliedStereotypes~="ArrowheadDSL::LocalcloudDesignDescription"]{
	fillColor: #808080; 
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}

Class[appliedStereotypes~="ArrowheadDSL::DeviceDesignDescription"]{
	fillColor: #808080; 
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}

Class[appliedStereotypes~="ArrowheadDSL::IntracloudNetworkDesignDescription"]{
	fillColor: #808080; 
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}

Class[appliedStereotypes~="ArrowheadDSL::IntercloudNetworkDesignDescription"]{
	fillColor: #808080; 
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}
Class[appliedStereotypes~="ArrowheadDSL::SysD"]{
	fillColor: #ff8000;
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}


Class[appliedStereotypes~="ArrowheadDSL::SD"]{
	fillColor: #dfd869;
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}
Class[appliedStereotypes~="ArrowheadDSL::ArrowheadDSLRequirement"]{
	fillColor: #dfd869;
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}
Class[appliedStereotypes~="SysML.profile::UseCase"]{
	fillColor: #dfd869;
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}
Port {
	fillColor: #ff8000;
	visibile: true;
}
Shape {
	shapeVisibility: true;
}


