* {
	maskLabel: name;
	elementIcon: false;
	
}
[appliedStereotypes~="ArrowheadDSL::SysDD"] > Compartment[kind=attributes],
[appliedStereotypes~="ArrowheadDSL::SysDD"] > Compartment[kind=operations],
[appliedStereotypes~="ArrowheadDSL::SysDD"] > Compartment[type=StereotypeCompartment]{
	visible: true;
	showTitle: true;
}
[appliedStereotypes~="ArrowheadDSL::SysD"] > Compartment[kind=attributes],
[appliedStereotypes~="ArrowheadDSL::SysD"] > Compartment[kind=operations],
[appliedStereotypes~="ArrowheadDSL::SysD"] > Compartment[type=StereotypeCompartment]{
	visible: true;
	showTitle: true;
}
[appliedStereotypes~="ArrowheadDSL::SD"] > Compartment[kind=attributes]{
	visible: false;
	showTitle: false;
}
[appliedStereotypes~="ArrowheadDSL::IDD"] > Compartment[kind=attributes]{
	visible: false;
	showTitle: false;
}

[appliedStereotypes~="ArrowheadDSL::IDD"] > Compartment[kind=operations],
[appliedStereotypes~="ArrowheadDSL::IDD"] > Compartment[type=StereotypeCompartment]{
	visible: true;
	showTitle: true;
}

[appliedStereotypes~="ArrowheadDSL::SD"] > Compartment[kind=operations],
[appliedStereotypes~="ArrowheadDSL::SD"] > Compartment[type=StereotypeCompartment]{
	visible: true;
	showTitle: true;
}

Class[appliedStereotypes~="ArrowheadDSL::System_Implementation"]{
	fillColor: #FF8000;
	gradient: none;
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
	}
[appliedStereotypes~="ArrowheadDSL::System_Implementation"] > Compartment[kind=attributes],
[appliedStereotypes~="ArrowheadDSL::System_Implementation"] > Compartment[kind=operations],
[appliedStereotypes~="ArrowheadDSL::System_Implementation"] > Compartment[type=StereotypeCompartment]{
	visible: true;
	showTitle: true;
}
	
Class[appliedStereotypes~="ArrowheadDSL::LocalcloudImplementation"]{
	fillColor: #ff8000;
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
	}
	
Class[appliedStereotypes~="ArrowheadDSL::SysDD"]{
	fillColor: #FF8000;
	gradient: none;
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}
Class[appliedStereotypes~="ArrowheadDSL::System_of_LocalcloudsDesign"]{
	fillColor: #808080; 
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}
Class[appliedStereotypes~="ArrowheadDSL::DeviceDesign"]{
	fillColor: #808080; 
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}

Class[appliedStereotypes~="ArrowheadDSL::LocalCloudDesign"]{
	fillColor: #808080; 
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}

Class[appliedStereotypes~="ArrowheadDSL::IntracloudNetworkDesign"]{
	fillColor: #808080; 
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}
Class[appliedStereotypes~="ArrowheadDSL::IntercloudNetworkDesign"]{
	fillColor: #808080; 
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}
Class[appliedStereotypes~="ArrowheadDSL::IDD_Implementation"]{
	fillColor: #9BC7CC;
	gradient: none;
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}
[appliedStereotypes~="IDD_Implementation"] > Compartment[kind=attributes]{
	visible: false;
	showTitle: false;
}

[appliedStereotypes~="IDD_Implementation"] > Compartment[kind=operations],
[appliedStereotypes~="IDD_Implementation"] > Compartment[type=StereotypeCompartment]{
	visible: true;
	showTitle: true;
}

Class[appliedStereotypes~="ArrowheadDSL::System_of_LocalcloudsImplementation"]{
	fillColor: #808080; 
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}
Class[appliedStereotypes~="ArrowheadDSL::IDD"]{
	fillColor: #9BC7CC;
	gradient: none;
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}
Class[appliedStereotypes~="ArrowheadDSL::System_of_LocacloudsDesignDescription"]{
	fillColor: #808080; 
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}
Class[appliedStereotypes~="ArrowheadDSL::LocalcloudDesignDescription"]{
	fillColor: #808080; 
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}

Class[appliedStereotypes~="ArrowheadDSL::DeviceDesignDescription"]{
	fillColor: #808080; 
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}

Class[appliedStereotypes~="ArrowheadDSL::IntracloudNetworkDesignDescription"]{
	fillColor: #808080; 
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}

Class[appliedStereotypes~="ArrowheadDSL::IntercloudNetworkDesignDescription"]{
	fillColor: #808080; 
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}
Class[appliedStereotypes~="ArrowheadDSL::SysD"]{
	fillColor: #FF8000;
	gradient: none;
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
	
}


Class[appliedStereotypes~="ArrowheadDSL::SD"]{
	fillColor: #9BC7CC;
	gradient: none;
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
	
}
Class[appliedStereotypes~="ArrowheadDSL::ArrowheadDSLRequirement"]{
	fillColor: #dfd869;
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}
[ArrowheadUseCase]{
	fillColor: #FF6E33;
	lineColor: black;
	lineWidth: 2;
	bold: true; 
	displayStereotypes: true;
}
[appliedStereotypes~="ArrowheadDSL::FullPort"] {
	fillColor: #9BC7CC;
	visibile: true;
	gradient: none;
	maskLabel: name visibility;
	
}
[appliedStereotypes~="ArrowheadDSL::ProxyPort"]{
	fillColor: #9BC7CC;
	visibile: true;
	gradient: none;
	maskLabel: name visibility;
}
Shape {
	shapeVisibility: true;
}
[appliedStereotypes~="ArrowheadDSL::ArrowHeadServiceInterfaceHTTP"]{
	lineWidth: 8;
	fillColor: #9BC7CC; 
	maskLabel: name parametersName ;
	
}
[appliedStereotypes~="ArrowheadDSL::ArrowHeadServiceInterfaceCOAP"]{
	lineWidth: 8;
	fillColor: #9BC7CC; 
	maskLabel: name parametersName ;
	
}
[appliedStereotypes~="ArrowheadDSL::ArrowHeadServiceInterfaceWebsocket"]{
	lineWidth: 8;
	fillColor: #9BC7CC; 
	maskLabel: name parametersName ;
	
}

/*propagation des couleurs de la lib dans le model */
/*red*/
Class[appliedStereotypes~="ArrowheadDSL::SysD"][name="Authentication-Design"] {
	fillColor:#e8090d;
}
Class[appliedStereotypes~="ArrowheadDSL::SysD"][name="ConsumptionAuthorisation-Design"] {
	fillColor:#e8090d;
}
Class[appliedStereotypes~="ArrowheadDSL::SysD"][name="ConsumptionAuthorisation_DesignDescription"] {
	fillColor:#e8090d;
}
Class[appliedStereotypes~="ArrowheadDSL::SysD"][name="Authentication-DesignDescription"] {
	fillColor:#e8090d;
}
/*yellow*/
Class[appliedStereotypes~="ArrowheadDSL::SysD"][name="Gatekeeper-Design"] {
	fillColor:yellow;
}
Class[appliedStereotypes~="ArrowheadDSL::SysD"][name="GateKeeper-DesignDescription"] {
	fillColor:yellow;
}
Class[appliedStereotypes~="ArrowheadDSL::SysD"][name="Gatekeeper-Implementation"] {
	fillColor:yellow;
}
Class[appliedStereotypes~="ArrowheadDSL::SysD"][name="GateTunnel-Design"] {
	fillColor:yellow;
}
Class[appliedStereotypes~="ArrowheadDSL::SysD"][name="GateTunnel-DesignDescription"] {
	fillColor:yellow;
}
Class[appliedStereotypes~="ArrowheadDSL::SysD"][name="CertificateAuthority-Design"] {
	fillColor:yellow;
}
Class[appliedStereotypes~="ArrowheadDSL::SysD"][name="CertificatreAuthority-DesignDescription"] {
	fillColor:yellow;
}
Class[appliedStereotypes~="ArrowheadDSL::SysD"][name="MicrosystemMonitor-Design"] {
	fillColor:yellow;
}
Class[appliedStereotypes~="ArrowheadDSL::SysD"][name="MicrosystemMonitor-DesignDescription"] {
	fillColor:yellow;
}
/*blue*/
Class[appliedStereotypes~="ArrowheadDSL::SysD"][name="ServiceRegister_Design"] {
	fillColor:#0096ff;
}
Class[appliedStereotypes~="ArrowheadDSL::SysD"][name="ServiceRegister_DesignDescription"] {
	fillColor:#0096ff;
}
Class[appliedStereotypes~="ArrowheadDSL::SysD"][name="System_Implementation26"] {
	fillColor:#0096ff;
}
/*green*/
Class[appliedStereotypes~="ArrowheadDSL::SysD"][name="ServiceOrchestration-Design"] {
	fillColor:#72fa78;
}
Class[appliedStereotypes~="ArrowheadDSL::SysD"][name="ServiceOrchestration-DesignDescription"] {
	fillColor:#72fa78;
}
