<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
                            <extension
                                  point="org.eclipse.ui.importWizards">
                               <wizard
                                     category="org.eclipse.papyrus.infra.core.importcategory"
                                     class="com.cea.afpvn.arrowhead.wizards.ImportAFPVNWizard"
                                     icon="icons/import_wiz_16x16-papyrusColor.gif"
                                     id="org.eclipse.papyrus.aasx.import.category"
                                     name="Transformation_Sysml1toSysml2">
                                  <description>
                                     This wizard allows tranformation from UML1 to UML2 for AFPVN
                                  </description>
                               </wizard>
                            </extension>
</plugin>
