<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
                            <extension
                                  point="org.eclipse.ui.importWizards">
                               <wizard
                                     category="org.eclipse.papyrus.infra.core.importcategory"
                                     class="transformations.Import_AFPVN"
                                     icon="icons/import_wiz_16x16-papyrusColor.gif"
                                     id="com.cea.afpvn.arrowhead.import.wizard1"
                                     name="TransformationUML1UML2">
                                  <description>
                                     This wizard allows tranformation from UML1 to UML2 for AFPVN
                                  </description>
                               </wizard>
                            </extension>
</plugin>
