<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
                            <extension
                                  point="org.eclipse.ui.importWizards">
                               <wizard
                                     category="org.eclipse.papyrus.infra.core.importcategory"
                                     class="com.cea.afpvn.arrowhead.wizards.ImportAFPVNWizard"
                                     icon="icons/import_wiz_16x16-papyrusColor.gif"
                                     id="org.eclipse.papyrus.aasx.import.category"
                                     name="Transformation_Sysml1toSysml2">
                                  <description>
                                     This wizard allows tranformation from UML1 to UML2 for AFPVN
                                  </description>
                               </wizard>
                            </extension>
                            <extension
                                  point="org.eclipse.ui.menus">
                               <menuContribution
                                     allPopups="false"
                                     locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup">
                                  <command
                                        commandId="com.cea.afpvn.arrowhead.import.commandSysml2"
                                        label="AFPVN">
                                     <visibleWhen
                                           checkEnabled="true">
                                        <with
                                              variable="selection">
                                           <iterate>
                                              <adapt
                                                    type="org.eclipse.emf.ecore.EObject">
                                              </adapt>
                                              <or>
                                                 <instanceof
                                                       value="org.eclipse.uml2.uml.Classifier">
                                                 </instanceof>
                                                 <instanceof
                                                       value="org.eclipse.uml2.uml.Package">
                                                 </instanceof>
                                              </or>
                                           </iterate>
                                        </with>
                                     </visibleWhen>
                                  </command>
                               </menuContribution>
                            </extension>
                            <extension
                                  point="org.eclipse.ui.commands">
                               <command
                                     categoryId="org.eclipse.papyrus.editor.category"
                                     description="Generate Code"
                                     id="com.cea.afpvn.arrowhead.import.commandSysml2"
                                     name="Generate Sysml2 transforamtion">
                               </command>
                            </extension>
</plugin>
