/.tranformation_SysmlTOSysml2.java._trace
/.SysmtoSysml2SwitchXtend.java._trace
/.testTofile.java._trace
/.MyDslGenerator.java._trace
/.HelloWorld.java._trace
/.HelloWorld.xtendbin
/.tranformation_SysmlTOSysml2.xtendbin
/HelloWorld.java
/.Partdef.java._trace
/.Attribute.java._trace
