/.tranformation_SysmlTOSysml2.java._trace
/.SysmtoSysml2SwitchXtend.java._trace
/.SysmtoSysml2AFPVNSwitchXtend.java._trace
/.testTofile.java._trace
/.MyDslGenerator.java._trace
/.HelloWorld.java._trace
/.HelloWorld.xtendbin
/.tranformation_SysmlTOSysml2.xtendbin
/HelloWorld.java
/.Partdef.java._trace
/.Attribute.java._trace
/.InterfaceBlok.java._trace
/.Port.java._trace
/.PartdefProp.java._trace
/.MappingSysml2.java._trace
/.Connector.java._trace
/.ScalarValues.java._trace
/.ConnectorPart.java._trace
/.MappingSysml2.xtendbin
/.ScalarValues.xtendbin
/Attribute.java
/ConnectorPart.java
/InterfaceBlok.java
/Partdef.java
/PartdefProp.java
/Port.java
/ScalarValues.java
/.Usecase.java._trace
/.Requirement.java._trace
/.Operation.java._trace
/.Requirements.java._trace
