<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.architecture.models">
      <model
            path="resources/arrowhead.architecture">
      </model>
   </extension>
   
  <extension
         point="org.eclipse.papyrus.infra.gmfdiag.common.diagramExpansion">
      <diagramexpansion
            model="resources/configuration/blockDefinitionDiagramConfigArrowhead.expansionmodel">
      </diagramexpansion>
   </extension>
   
 <!-- Parser provider declaration -->
<extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
	<ParserProvider class="com.cea.afpvn.arrowhead.viewpoint.provider.ParserProvider">
		<Priority name="Low"/>
	</ParserProvider>
</extension>


</plugin>
