<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.architecture.models">
      <model
            path="resources/arrowhead.architecture">
      </model>
   </extension>
   
  <extension
         point="org.eclipse.papyrus.infra.gmfdiag.common.diagramExpansion">
      <diagramexpansion
            model="resources/configuration/blockDefinitionDiagramConfigArrowhead.expansionmodel">
      </diagramexpansion>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://AFPVN_LIB/"
            target="platform:/plugin/com.cea.afpvn.arrowhead.viewpoint/template/">
      </mapping>
   </extension>
   <extension point="org.eclipse.papyrus.uml.diagram.wizards.templates">
      <template
            di_file="template/Orchestration.di"
            file="template/Orchestration.uml"
            id="com.cea.afpvn.arrowhead.viewpoint.template.Orchestration"
            language="SysML16"
            name="Orchestration"
            notation_file="template/Orchestration.notation">
      </template>
      <template
            di_file="template/ServiceRegistry.di"
            file="template/ServiceRegistry.uml"
            id="com.cea.afpvn.arrowhead.viewpoint.template.ServiceRegistry"
            language="SysML16"
            name="ServiceRegistry"
            notation_file="template/ServiceRegistry.notation">
      </template>
      <template
            di_file="template/Authorisation.di"
            file="template/Authorisation.uml"
            id="com.cea.afpvn.arrowhead.viewpoint.template.Authorisation"
            language="SysML16"
            name="Authorisation"
            notation_file="template/Authorisation.notation">
      </template>
     </extension>                                 
   
 <!-- Parser provider declaration -->
   <extension point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            description="Template for AFPVN"
            iconpath="icons/arrowhead_icon.png"
            name="Authorisation"
            path="pathmap://AFPVN_LIB/Authorisation.uml"
            provider="CEA LIST">
      </library>
   </extension>
   <!-- Parser provider declaration -->
   <extension point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            description="Template for AFPVN"
            iconpath="icons/arrowhead_icon.png"
            name="Orchestration"
            path="pathmap://AFPVN_LIB/Orchestration.uml"
            provider="CEA LIST">
      </library>
   </extension>
   <!-- Parser provider declaration -->
   <extension point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            description="Template for AFPVN"
            iconpath="icons/arrowhead_icon.png"
            name="ServiceRegistry"
            path="pathmap://AFPVN_LIB/ServiceRegistry.uml"
            provider="CEA LIST">
      </library>
   </extension>
<extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
	<ParserProvider class="com.cea.afpvn.arrowhead.viewpoint.provider.ParserProvider">
		<Priority name="Lowest"/>
	</ParserProvider>
</extension>


<extension
         point="org.eclipse.emf.validation.constraintBindings">
      <binding
            context="com.cea.afpvn.arrowhead.viewpoint.clientContext">
         <category
               ref="com.cea.afpvn.arrowhead.viewpoint.category">
         </category>
      </binding>
      <clientContext
            default="false"
            id="com.cea.afpvn.arrowhead.viewpoint.clientContext">
         <selector
               class="com.cea.afpvn.arrowhead.validation.ClientSelector">
         </selector>
      </clientContext>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="com.cea.afpvn.arrowhead.viewpoint.category"
            mandatory="true"
            name="AFPVN rules validation ">
      </category>
      <constraintProvider
            mode="Batch">
         <package
               namespaceUri="http://www.eclipse.org/uml2/5.0.0/UML">
         </package>
         <constraints
               categories="com.cea.afpvn.arrowhead.viewpoint.category">
            <constraint
                  class="com.cea.afpvn.arrowhead.validation.PortRule"
                  id="com.cea.afpvn.arrowhead.viewpoint.RulePort"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Port Rule : The IDD Port artibute value should be set"
                  severity="ERROR"
                  statusCode="1">
               <target
                     class="Class">
               </target>
               <message>
                  Port Rule : The IDD Port artibute value should be set
               </message>
               <description>
                  Port Rule : The IDD Port artibute value should be set
               </description>
            </constraint>
          </constraints>
      </constraintProvider>
   </extension>

</plugin>
